
/.idea
/fundamentals/.idea
/fundamentals/etc
/fundamentals/Lib
fundamentals/pyvenv.cfg
/fundamentals/Scripts
/fundamentals/share
scipy.ipynb
seaborn.ipynb
Simulazione Avanzata.ipynb
Simulazione Numpy.ipynb
Simulazioni Pandas.ipynb
fundamentals/boxplots.png
fundamentals/class_count.png
fundamentals/corr_matrix.png
fundamentals/dataframe_info.png
fundamentals/histos.png
fundamentals/regressione.png
fundamentals/pairplot.png
Relazione.lyx~
*.lyx~
Relazione.lyx~
Relazione.lyx
Relazione.lyx~
fundamentals/cumulative_var.png
fundamentals/biplot.png
fundamentals/cm of linear.png
fundamentals/cm of poly.png
fundamentals/cm of rbf.png
fundamentals/region of linear.png
fundamentals/region of poly.png
fundamentals/region of rbf.png
Relazione.lyx~
